.DS_Store
Computer Vision BACKUP.pptx
Notebooks/brouillon
Notebooks/exercices_solutions
venv/
__pycache__/
Deep Learning/
*.prototxt
*.caffemodel
Notebooks/data/cifar-10-batches-py
Notebooks/data/cifar-10-python.tar.gz